.tictactoe {
  @font-face {
      font-family: 'Press Start 2p';
      src: url(C:\Users\Russ\AppData\Local\Microsoft\Windows\Fonts\PressStart2P-Regular.ttf);
    }
  div.homeHeader {
      background-color: #f1f1f1;
      padding: 20px;
      text-align: center;
    }
  .container {
    margin-top: 20px;
  }
  .inner {
    margin-left: 35%;
    padding: 15px;
    width: 30%;
    border: 2px inset white;
    box-shadow: 8px 5px 5px grey;
    font-family: "Indie Flower", cursive;
    background: no-repeat url("../../../assets/images/chalkboard.jpg");
    background-position: center;
  }
  .col {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .cell {
    width: 89px;
    height: 89px;
    border: 1px solid lightgray;
    text-align: center;
    font-size: xxx-large;
    text-transform: capitalize;
    cursor: pointer;
    color: white;
    font-weight: 900;
  }
  .video_game_button {
    font-family: 'Press Start 2p';
    text-align: center;
    margin: 5px;
    font-weight: bold;
    padding: 5px 5px 5px 10px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em gray;
    cursor: pointer;
  }
  .winner, .turn {
    margin-top: 10px;
    text-align: center;
    font-family: 'Press Start 2p';
    font-size: 28px;
    font-weight: 900;
    color: black;
    text-shadow: 1px 1px pink, -1px -1px maroon;
  }
  .video_game_button:active {
    box-shadow: none;
    position: relative;
    top: 0.2em;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}