.homepage {
	div.homeHeader {
		background-color: #f1f1f1;
		padding: 20px;
		text-align: center;
	}
	.skillsHeader {
		font-weight: bolder;
	}
	.root {
		border: 2px inset grey;
		width: 150px;
		margin: auto;
		text-align: center;
	}
	#header {
		font-size: 24px;
	}
	#wel {
		text-align: center;
		font-size: 20px;
	}
	.skillsList {
		display: flex;
		justify-content: center;
		align-items: stretch;
		margin-top: 10px;
		height: 100%;
		width: 100%;
	}
	img {
		margin-right: 5px;
	}
	.section {
		display: inherit;
		margin-top: 20px;
	}
	.imageContainer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
	}
}