.homepage {
	div.homeHeader {
		background-color: #f1f1f1;
		padding: 20px;
		text-align: center;
	}

	.root {
		border: 2px inset grey;
		width: 150px;
		margin: auto;
		text-align: center;
	}
	#header {
		font-size: 24px;
	}

	#wel {
		text-align: center;
		font-size: 20px;
	}
}