.homepage {
	.skillsHeader {
		font-family: 'Bungee Shade';
		color: black;
	}
	.root {
		border: 2px inset grey;
		width: 150px;
		margin: auto;
		text-align: center;
	}
	#header {
		font-size: 24px;
	}
	#wel {
		text-align: center;
		font-size: 20px;
	}
	.skillsList {
		display: flex;
		justify-content: center;
		align-items: stretch;
		margin-top: 10px;
		height: 100%;
		width: 100%;
	}
	img {
		margin-right: 5px;
	}
	.section {
		display: inherit;
		margin-top: 20px;
	}
	.imageContainer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
	}
	
	.skillsTitle {
		font-size: 28px;
		margin-top: 25px;
		font-family: 'Marcellus SC';
		color: black;
	}
	.skillName {
		font-weight: bold;
		font-variant: small-caps;
	}
	.skillLength {
		color: darkblue;
	}
	hr {
	border: 2px solid black;
	color: black;
		}
}