.header {
  div.typing {
    background-color: transparent;
    padding: 20px;
    text-align: center;
    font-size: 32px;
    font-family: "VT323";
    color: #fff;
    margin-top: 5%;
  }
  .line1 {
    margin-top: 5%;
    color: white;
    font-family: "VT323";
    text-align: center;
    font-size: 32px;
    padding: 20px;
  }
  .line2 {
    color: white;
    font-family: "VT323";
    text-align: center;
    font-size: 32px;
  }
}