.bio {

  #profilePic {
    height: 360px;
    width: 230px;
    border-radius: 130px;
  }

  .container {
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(0, 0, 0);
    border-radius: 10px;
    // padding: 15px;
  }

  .imageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
  }

  .bioText {
    margin-top: 15px;
    margin-left: 15%;
    text-align: center;
    font-family: "Mina";
    font-size: 18px;
    width: 50%;
  }

  /* For 1024 Resolution */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .imageContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    #profilePic {
      height: 180px;
      width: 120px;
      border-radius: 130px;
    }

    .bioText {
      margin-top: 15px;
      margin-left: 50px;
      text-align: center;
      font-family: "Mina";
      font-size: 14px;
      margin-left: -1px;
    }

    .container {
      display: flex;
      flex-direction: column;
      color: rgb(255, 255, 255);
      text-shadow: 2px 2px rgb(0, 0, 0);
      border-radius: 10px;
      padding: 15px;
    }
  }

  /* Landscape */
  @media only screen and (min-device-width : 360px) and (max-device-width : 844px) {
    .imageContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // margin-left: -5%;
    }

    #profilePic {
      height: 180px;
      width: 110px;
      border-radius: 130px;
    }

    .bioText {
      margin-top: 15px;
      margin-left: 70px;
      // text-align: center;
      font-family: "Mina";
      font-size: 12px;

    }

    .container {
      display: flex;
      flex-direction: column;
      color: rgb(255, 255, 255);
      text-shadow: 2px 2px rgb(0, 0, 0);
      border-radius: 10px;
      // padding: 15px;
    }
  }
}