#profilePic {
	height: 360px;
	width: 230px;
	border-radius: 130px;
}

#profilePic img {
	height: 100%;
	width: 300px;
	transition: all 2s ease-in-out;
}

#profilePic:hover img {
	transform: scale(2, 2);
	cursor: pointer;
}
