.gameIndex {
	.gameContainer {
		font-family: "Open Sans", sans-serif;
		font-size: medium;
		background-image: url("../../../assets/images/backgrounds/bballcourt.jpg");
		background-position: center;
		background-size: cover;
		width: 100vw;
		height: 90vh;
	}
}
