.App__Bball {
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: medium;
}
div.main {
	width: 50%;
	margin-left: 25%;
	margin-top: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-grow: 3;
}
#teamName {
	text-decoration: underline;
	font-size: 24px;
	margin-bottom: 2px;
}
#score {
	text-align: center;
	padding: 7px;
}
img#logo {
	width: 60px;
	height: 65px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}
button#hb {
	margin: 0 auto;
	display: block;
}

.homeTeam {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: 3px inset grey;
	background-color: rgb(255, 155, 155);
	padding: 10px;
}

.visitorTeam {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: 3px inset grey;
	background-color: rgb(168, 169, 255);
	padding: 10px;
}
